@chatwidth: 444px;
@chatplussidebar: (@chatwidth + 250);
.naugtur #container.broadcast {
    padding-right: @chatwidth;
}

.naugtur #chat-sidebar,
.naugtur .chat .msgs {
    width: @chatwidth;
    display: block !important;
}

@media (max-width: @chatplussidebar) {
    .naugtur #container.broadcast {
        padding-right: 100%;
    }
    .naugtur #chat-sidebar,
    .naugtur .chat .msgs {
        width: 100%;
    }
}

//button
#naugtur-chat-button {
    position: fixed;
    top: 8px;
    right: 30px;
    z-index: 50000;
}

//chat autojoiner
.naugtur .chat-form.hide {
    display: block !important;
}

.naugtur .placeholder-text,
.naugtur .msgs .overlay,
.naugtur .chat-disabled-btns,
.naugtur .inviteUserFollowers,
.naugtur .share-links,
.naugtur .welcomeMessage {
    display: none;
}

.naugtur .content-container {
    padding: 30px;
}

.naugtur .chat-activity {
    padding: 7px 10px;
}

.naugtur .chat-activity .inner {
    line-height: 10px;
}

.naugtur .chat-activity .message,
.naugtur .chat-activity .username {
    font-size: 11px;
}

.naugtur .chat-activity .timestamp {
    font-size: 9px;
}

.naugtur .chat.chat-joined .msgs-container {
    border-left: 1px solid #dddfe4;
}
